* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 10px;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

select,
option {
  background-color: #000;
}
